
@{
    ViewData["Title"] = "Edit";
}
@model SiinGroup.Models.Student;

<form action="SaveEdit" method="post" style="margin-top:10px;">
    <div class="form-group">
        <input type="hidden" class="form-control" name="Student.Id" value="@Model.Id"/>
    </div>
    <div class="form-group">
        <label for="rollnumber">RollNumber:</label>
        <input type="text" class="form-control" name="Student.RollNumber" value="@Model.RollNumber"/>
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="Student.Name" value="@Model.Name"/>
    </div>
    <button type="submit" class="btn btn-success">Save Change</button>
</form>